@model AppWebPersonal.Models.Producto

@{
    ViewData["Title"] = "Edit";
}

<h1>Edit</h1>

<h4>Producto</h4>
<hr />
<div class="row">
    <div class="col-md-4">
        <form asp-action="Edit">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            <input type="hidden" asp-for="CodigoProducto" />
            <div class="form-group">
                <label asp-for="CodigoCategoria" class="control-label"></label>
                <input asp-for="CodigoCategoria" class="form-control" />
                <span asp-validation-for="CodigoCategoria" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="CodigoEmpaque" class="control-label"></label>
                <input asp-for="CodigoEmpaque" class="form-control" />
                <span asp-validation-for="CodigoEmpaque" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Descripcion" class="control-label"></label>
                <input asp-for="Descripcion" class="form-control" />
                <span asp-validation-for="Descripcion" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="PrecioUnitario" class="control-label"></label>
                <input asp-for="PrecioUnitario" class="form-control" />
                <span asp-validation-for="PrecioUnitario" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="PrecioPorDocena" class="control-label"></label>
                <input asp-for="PrecioPorDocena" class="form-control" />
                <span asp-validation-for="PrecioPorDocena" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="PrecioPorMayor" class="control-label"></label>
                <input asp-for="PrecioPorMayor" class="form-control" />
                <span asp-validation-for="PrecioPorMayor" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Existencia" class="control-label"></label>
                <input asp-for="Existencia" class="form-control" />
                <span asp-validation-for="Existencia" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Imagen" class="control-label"></label>
                <input asp-for="Imagen" class="form-control" />
                <span asp-validation-for="Imagen" class="text-danger"></span>
            </div>
            <div class="form-group">
                <input type="submit" value="Save" class="btn btn-primary" />
            </div>
        </form>
    </div>
</div>

<div>
    <a asp-action="Index">Back to List</a>
</div>

@section Scripts {
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
}
